<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        const map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-74.5, 40], // starting position
            zoom: 9 // starting zoom
        });

        map.on('click', (e) => {
            fetch("http://127.0.0.1:5000/dataget",
                {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify(e.lngLat)
                }).then(res => {
                    if (res.ok) {
                        return res.json()
                    } else {
                        alert("An unexpected error has occurred.")
                    }
                }).then(jsonResponse => {
                    console.log(jsonResponse)
                }).catch((err) => console.error(err));

            new mapboxgl.Marker({ color: 'black' }).setLngLat([e.lngLat.lng, e.lngLat.lat]).addTo(map);

        }); 
    </script>
</body>

</html>