<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Renewable Power Plant Simulation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/Style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/Mapbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/Chart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/Collapsible.css') }}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='scripts/Blackout.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/Variables.js') }}"></script>
</head>

<body>
    <header id="headerTop">
        <span id="title">Renewable Power Plant Simulation</span>
    </header>
    <main>
        <div id="leftColumn">
            <div id="map"></div>
            <div id="underMap">
                <div id="inputs">
                    <div class="inputPanel">
                        <h1>Percentage of Power to Supply</h1>
                        <span>Please enter a value from 1 to 100</span>
                        <input type="number" id="powerPercentage" class="inputButton" min="1" max="100" step="1"
                            value="25">
                    </div>
                    <div class="inputPanel">
                        <h1>Solar Farm Size in Square Kilmeters</h1>
                        <span>Please enter a value from 10,000 to 10,000,000</span>
                        <input type="number" id="solarFarmSize" class="inputButton" min="10000" max="10000000"
                            step="10000" value="250000">
                    </div>
                    <div class="inputPanel">
                        <h1>Wind Turbines in Wind Farm</h1>
                        <span>Please enter a value from 10 to 1,000</span>
                        <input type="number" id="windFarmSize" class="inputButton" min="10" max="1000" step="10"
                            value="100">
                    </div>
                    <div class="inputPanel">
                        <h1>Electricity Storage Amount</h1>
                        <span>Please enter a value from 1,000 to 1,000,000</span>
                        <input type="number" id="storageCap" class="inputButton" min="1000" max="1000000" step="1000"
                            value="50000">
                    </div>
                </div>
                <div id="infoPanel">
                    <!-- Information about simulation goes here -->
                </div>
            </div>
        </div>
        <div id="rightColumn">
            <div class="selectWrapper">
                <div class="select">
                    <div class="selectTrigger">
                        <span>Select Region</span>
                        <div class="selectArrow"></div>
                    </div>
                    <div class="selectOptions">

                        {%for i in range(0, regionsLen)%}
                        <span class="selectOption">{{regions[i]}}</span>
                        {%endfor%}

                    </div>
                </div>
            </div>
            <div class="runButton">Run</div>
            <div id="chartContainer">
                <span>Chart Title Here</span>
                <canvas id="chart"></canvas>
                <script src="{{ url_for('static', filename='scripts/TestChart.js') }}"></script>
            </div>
            <div id="dataPanel">
                <div class="collapsible">
                    <span>Blackout Breakdowns</span>
                    <div class="selectArrow" style="right: 3.5%;"></div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='scripts/Map.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/Data.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/Select.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/Input.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/Run.js') }}"></script>
</body>

</html>